@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .threat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-items: center;
    gap: 1rem;
  }

  .crypto-jacking {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
  }

  .crypto-jacking .content {
    width: 100%;
  }

  .crypto-image {
    width: 100%;
  }

  /* Contact */
  .contact-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-header {
    margin: auto;
    text-align: center;
  }

  .form-section {
    width: 80%;
    margin: auto;
  }

  .form-section input,
  .form-section textarea {
    width: 100%;
  }

  .contact-header {
    margin: auto;
    width: auto;
  }

  .contact-info {
    width: 100%;
  }

  .contact-info .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .contact-info .icon div p {
    text-align: center;
  }
}
