*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
  }
  

nav {
    display: flex; 
    align-items: center; 
    background-color: rgba(177, 175, 173, 0.678);
    margin-bottom: 20px;
}

.logo {
    margin-right: 10px; 
}

.logo img {
    display: block; 
}

.nav-links {
    display: flex;
    flex-grow: 1; 
    justify-content: space-around; 
}

.nav-links a {
    background-color: black; 
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    margin: 0 5px;
    text-align: center; 
    display: flex; 
    align-items: center; 
}

.nav-links a:hover {
    background-color: #555; 
}

.reference { 
    margin: 10px ;
} 
.reference h1 { 
    text-align: center; 
    font-size: 2em; 
} 
.reference h2 { 
    margin-top: 20px; 
    font-size: 1.5em; 
    margin-bottom: 10px;
} 
.reference ol { 
    padding-left: 20px; 
}


/* Newsletter section */
.newsletter {
    display: flex;
    background-color: #000;
    padding: 10px;
    color: #fff;
    align-items: center;
}

.newsletter-image {
    flex: 1; 
    margin-right: 20px;
}

.newsletter-image img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.newsletter-content {
    flex: 2;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.newsletter-content form {
    display: flex; 
}

.newsletter-content input[type="email"] {
    flex: 1; 
    padding: 10px; 
    margin-right: 10px;
    border: 1px solid #ccc;
}

.newsletter-content button {
    padding: 10px 20px;
    background-color: #990606;
    color: #000; 
    border: none;
    cursor: pointer;
}

.newsletter-content button:hover {
    background-color: #ccc; 
}

.footer {
    text-align: center;
    background-color: rgba(177, 175, 173, 0.678);
}
